
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Ghost - Walkthroughs</title>
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="../../assets/built/screen.css?v=b2fc23087f">

    <link rel="shortcut icon" href="../../favicon.ico" type="image/x-icon">
    <link rel="canonical" href="index.html">
    <meta name="referrer" content="no-referrer-when-downgrade">
    
    <meta property="og:site_name" content="Walkthroughs">
    <meta property="og:type" content="profile">
    <meta property="og:title" content="Ghost - Walkthroughs">
    <meta property="og:url" content="mah1ndra.gitlab.io//author/ghost/">
    <meta property="article:publisher" content="https://www.facebook.com/ghost">
    <meta property="article:author" content="https://www.facebook.com/ghost">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Ghost - Walkthroughs">
    <meta name="twitter:url" content="mah1ndra.gitlab.io//author/ghost/">
    <meta name="twitter:site" content="tryghost">
    <meta name="twitter:creator" content="tryghost">
    
    <script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "Person",
    "sameAs": [
        "https://ghost.org",
        "https://www.facebook.com/ghost",
        "https://twitter.com/tryghost"
    ],
    "name": "Ghost",
    "url": "mah1ndra.gitlab.io//author/ghost/",
    "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "mah1ndra.gitlab.io//"
    }
}
    </script>

    <script src="../../public/ghost-sdk.js?v=b2fc23087f"></script>
<script>
ghost.init({
	clientId: "ghost-frontend",
	clientSecret: "2a9a033ef9a0"
});
</script>
    <meta name="generator" content="Ghost 2.9">
    <link rel="alternate" type="application/rss+xml" title="Walkthroughs" href="../../rss/index.html">

</head>
<body class="author-template author-ghost">

    <div class="site-wrapper">

        




<header class="site-header outer no-image">

 
    <div class="inner">
        <nav class="site-nav">
    <div class="site-nav-left">
                <a class="site-nav-logo" href="../../"><img src="https://static.ghost.org/v1.0.0/images/ghost-logo.svg" alt="Walkthroughs"></a>
            <ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="../../">Home</a></li>
    <li class="nav-tag" role="menuitem"><a href="../../tag/getting-started/">Tag</a></li>
    <li class="nav-author nav-current" role="menuitem"><a href="index.html">Author</a></li>
    <li class="nav-help" role="menuitem"><a href="https://help.ghost.org">Help</a></li>
</ul>

    </div>
    <div class="site-nav-right">
        <div class="social-links">
                <a class="social-link social-link-fb" href="https://www.facebook.com/ghost" title="Facebook" target="_blank" rel="noopener"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 32 32"><path d="M19 6h5V0h-5c-3.86 0-7 3.14-7 7v3H8v6h4v16h6V16h5l1-6h-6V7c0-.542.458-1 1-1z"></path></svg>
</a>
                <a class="social-link social-link-tw" href="https://twitter.com/tryghost" title="Twitter" target="_blank" rel="noopener"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 32 32"><path d="M30.063 7.313c-.813 1.125-1.75 2.125-2.875 2.938v.75c0 1.563-.188 3.125-.688 4.625a15.088 15.088 0 0 1-2.063 4.438c-.875 1.438-2 2.688-3.25 3.813a15.015 15.015 0 0 1-4.625 2.563c-1.813.688-3.75 1-5.75 1-3.25 0-6.188-.875-8.875-2.625.438.063.875.125 1.375.125 2.688 0 5.063-.875 7.188-2.5-1.25 0-2.375-.375-3.375-1.125s-1.688-1.688-2.063-2.875c.438.063.813.125 1.125.125.5 0 1-.063 1.5-.25-1.313-.25-2.438-.938-3.313-1.938a5.673 5.673 0 0 1-1.313-3.688v-.063c.813.438 1.688.688 2.625.688a5.228 5.228 0 0 1-1.875-2c-.5-.875-.688-1.813-.688-2.75 0-1.063.25-2.063.75-2.938 1.438 1.75 3.188 3.188 5.25 4.25s4.313 1.688 6.688 1.813a5.579 5.579 0 0 1 1.5-5.438c1.125-1.125 2.5-1.688 4.125-1.688s3.063.625 4.188 1.813a11.48 11.48 0 0 0 3.688-1.375c-.438 1.375-1.313 2.438-2.563 3.188 1.125-.125 2.188-.438 3.313-.875z"></path></svg>
</a>
        </div>
            <a class="rss-button" href="https://feedly.com/i/subscription/feed/mah1ndra.gitlab.io//rss/" title="RSS" target="_blank" rel="noopener"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24"><circle cx="6.18" cy="17.82" r="2.18"></circle><path d="M4 4.44v2.83c7.03 0 12.73 5.7 12.73 12.73h2.83c0-8.59-6.97-15.56-15.56-15.56zm0 5.66v2.83c3.9 0 7.07 3.17 7.07 7.07h2.83c0-5.47-4.43-9.9-9.9-9.9z"></path></svg>
</a>
    </div>
</nav>
        <div class="site-header-content">
                <img class="author-profile-image" src="https://static.ghost.org/v2.0.0/images/ghost.png" alt="Ghost">
            <h1 class="site-title">Ghost</h1>
                <h2 class="author-bio">You can delete this user to remove all the welcome posts</h2>
            <div class="author-meta">
                    <div class="author-location">The Internet <span class="bull">•</span></div>
                <div class="author-stats">
                    7 posts <span class="bull">•</span>
                </div>
                    <a class="social-link social-link-wb" href="https://ghost.org" target="_blank" rel="noopener"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24"><path d="M23.5 11.957c0 6.375-5.163 11.544-11.532 11.544C5.599 23.5.5 18.125.5 11.75.5 5.542 5.37.758 11.505.511l.5-.011C18.374.5 23.5 5.582 23.5 11.957zM11.505.511c-6 6.5-6 14.98 0 22.98m1-22.98c6 6.5 6 14.977 0 22.977M2 17.479h20.063m-19.657-12h19.062m-20.968 6h22.938" stroke="#000" stroke-linejoin="round" stroke-miterlimit="10" fill="none"></path></svg>
</a>
                    <a class="social-link social-link-tw" href="https://twitter.com/tryghost" target="_blank" rel="noopener"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 32 32"><path d="M30.063 7.313c-.813 1.125-1.75 2.125-2.875 2.938v.75c0 1.563-.188 3.125-.688 4.625a15.088 15.088 0 0 1-2.063 4.438c-.875 1.438-2 2.688-3.25 3.813a15.015 15.015 0 0 1-4.625 2.563c-1.813.688-3.75 1-5.75 1-3.25 0-6.188-.875-8.875-2.625.438.063.875.125 1.375.125 2.688 0 5.063-.875 7.188-2.5-1.25 0-2.375-.375-3.375-1.125s-1.688-1.688-2.063-2.875c.438.063.813.125 1.125.125.5 0 1-.063 1.5-.25-1.313-.25-2.438-.938-3.313-1.938a5.673 5.673 0 0 1-1.313-3.688v-.063c.813.438 1.688.688 2.625.688a5.228 5.228 0 0 1-1.875-2c-.5-.875-.688-1.813-.688-2.75 0-1.063.25-2.063.75-2.938 1.438 1.75 3.188 3.188 5.25 4.25s4.313 1.688 6.688 1.813a5.579 5.579 0 0 1 1.5-5.438c1.125-1.125 2.5-1.688 4.125-1.688s3.063.625 4.188 1.813a11.48 11.48 0 0 0 3.688-1.375c-.438 1.375-1.313 2.438-2.563 3.188 1.125-.125 2.188-.438 3.313-.875z"></path></svg>
</a>
                    <a class="social-link social-link-fb" href="https://www.facebook.com/ghost" target="_blank" rel="noopener"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 32 32"><path d="M19 6h5V0h-5c-3.86 0-7 3.14-7 7v3H8v6h4v16h6V16h5l1-6h-6V7c0-.542.458-1 1-1z"></path></svg>
</a>
                <a class="social-link social-link-rss" href="https://feedly.com/i/subscription/feed/mah1ndra.gitlab.io//author/ghost/rss/" target="_blank" rel="noopener"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24"><circle cx="6.18" cy="17.82" r="2.18"></circle><path d="M4 4.44v2.83c7.03 0 12.73 5.7 12.73 12.73h2.83c0-8.59-6.97-15.56-15.56-15.56zm0 5.66v2.83c3.9 0 7.07 3.17 7.07 7.07h2.83c0-5.47-4.43-9.9-9.9-9.9z"></path></svg>
</a>
            </div>
        </div>
    </div>
</header>

<main id="site-main" class="site-main outer">
    <div class="inner">

        <div class="post-feed">

                <article class="post-card post tag-getting-started ">

    <a class="post-card-image-link" href="../../welcome/">
        <img class="post-card-image" srcset="https://static.ghost.org/v2.0.0/images/welcome-to-ghost.jpg 300w,
                    https://static.ghost.org/v2.0.0/images/welcome-to-ghost.jpg 600w,
                    https://static.ghost.org/v2.0.0/images/welcome-to-ghost.jpg 1000w,
                    https://static.ghost.org/v2.0.0/images/welcome-to-ghost.jpg 2000w" sizes="(max-width: 1000px) 400px, 700px" src="https://static.ghost.org/v2.0.0/images/welcome-to-ghost.jpg" alt="Welcome to Ghost">
    </a>

    <div class="post-card-content">

        <a class="post-card-content-link" href="../../welcome/">

            <header class="post-card-header">
                    <span class="post-card-tags">Getting Started</span>
                <h2 class="post-card-title">Welcome to Ghost</h2>
            </header>

            <section class="post-card-excerpt">
                <p>Welcome, it's great to have you here. We know that first impressions are important, so we've populated your new site with some initial getting started posts that will help you get familiar with everything in no time.</p>
            </section>

        </a>

        <footer class="post-card-meta">

            <ul class="author-list">
                <li class="author-list-item">

                    <div class="author-name-tooltip">
                        Ghost
                    </div>

                        <a href="index.html" class="static-avatar">
                            <img class="author-profile-image" src="https://static.ghost.org/v2.0.0/images/ghost.png" alt="Ghost">
                        </a>
                </li>
            </ul>

            <span class="reading-time">1 min read</span>

        </footer>

    </div>

</article>


                <article class="post-card post tag-getting-started ">

    <a class="post-card-image-link" href="../../the-editor/">
        <img class="post-card-image" srcset="https://static.ghost.org/v2.0.0/images/writing-posts-with-ghost.jpg 300w,
                    https://static.ghost.org/v2.0.0/images/writing-posts-with-ghost.jpg 600w,
                    https://static.ghost.org/v2.0.0/images/writing-posts-with-ghost.jpg 1000w,
                    https://static.ghost.org/v2.0.0/images/writing-posts-with-ghost.jpg 2000w" sizes="(max-width: 1000px) 400px, 700px" src="https://static.ghost.org/v2.0.0/images/writing-posts-with-ghost.jpg" alt="Writing posts with Ghost ✍️">
    </a>

    <div class="post-card-content">

        <a class="post-card-content-link" href="../../the-editor/">

            <header class="post-card-header">
                    <span class="post-card-tags">Getting Started</span>
                <h2 class="post-card-title">Writing posts with Ghost ✍️</h2>
            </header>

            <section class="post-card-excerpt">
                <p>Getting started with the editor is simple, with familiar formatting options in a functional toolbar and the ability to add dynamic content seamlessly.</p>
            </section>

        </a>

        <footer class="post-card-meta">

            <ul class="author-list">
                <li class="author-list-item">

                    <div class="author-name-tooltip">
                        Ghost
                    </div>

                        <a href="index.html" class="static-avatar">
                            <img class="author-profile-image" src="https://static.ghost.org/v2.0.0/images/ghost.png" alt="Ghost">
                        </a>
                </li>
            </ul>

            <span class="reading-time">1 min read</span>

        </footer>

    </div>

</article>


                <article class="post-card post tag-getting-started ">

    <a class="post-card-image-link" href="../../publishing-options/">
        <img class="post-card-image" srcset="https://static.ghost.org/v2.0.0/images/publishing-options.jpg 300w,
                    https://static.ghost.org/v2.0.0/images/publishing-options.jpg 600w,
                    https://static.ghost.org/v2.0.0/images/publishing-options.jpg 1000w,
                    https://static.ghost.org/v2.0.0/images/publishing-options.jpg 2000w" sizes="(max-width: 1000px) 400px, 700px" src="https://static.ghost.org/v2.0.0/images/publishing-options.jpg" alt="Publishing options">
    </a>

    <div class="post-card-content">

        <a class="post-card-content-link" href="../../publishing-options/">

            <header class="post-card-header">
                    <span class="post-card-tags">Getting Started</span>
                <h2 class="post-card-title">Publishing options</h2>
            </header>

            <section class="post-card-excerpt">
                <p>The Ghost editor has everything you need to fully optimise your content. This is where you can add tags and authors, feature a post, or turn a post into a page.</p>
            </section>

        </a>

        <footer class="post-card-meta">

            <ul class="author-list">
                <li class="author-list-item">

                    <div class="author-name-tooltip">
                        Ghost
                    </div>

                        <a href="index.html" class="static-avatar">
                            <img class="author-profile-image" src="https://static.ghost.org/v2.0.0/images/ghost.png" alt="Ghost">
                        </a>
                </li>
            </ul>

            <span class="reading-time">2 min read</span>

        </footer>

    </div>

</article>


                <article class="post-card post tag-getting-started ">

    <a class="post-card-image-link" href="../../admin-settings/">
        <img class="post-card-image" srcset="https://static.ghost.org/v2.0.0/images/admin-settings.jpg 300w,
                    https://static.ghost.org/v2.0.0/images/admin-settings.jpg 600w,
                    https://static.ghost.org/v2.0.0/images/admin-settings.jpg 1000w,
                    https://static.ghost.org/v2.0.0/images/admin-settings.jpg 2000w" sizes="(max-width: 1000px) 400px, 700px" src="https://static.ghost.org/v2.0.0/images/admin-settings.jpg" alt="Managing admin settings">
    </a>

    <div class="post-card-content">

        <a class="post-card-content-link" href="../../admin-settings/">

            <header class="post-card-header">
                    <span class="post-card-tags">Getting Started</span>
                <h2 class="post-card-title">Managing admin settings</h2>
            </header>

            <section class="post-card-excerpt">
                <p>There are a couple of things to do next while you're getting set up: making your site private and inviting your team.</p>
            </section>

        </a>

        <footer class="post-card-meta">

            <ul class="author-list">
                <li class="author-list-item">

                    <div class="author-name-tooltip">
                        Ghost
                    </div>

                        <a href="index.html" class="static-avatar">
                            <img class="author-profile-image" src="https://static.ghost.org/v2.0.0/images/ghost.png" alt="Ghost">
                        </a>
                </li>
            </ul>

            <span class="reading-time">2 min read</span>

        </footer>

    </div>

</article>


                <article class="post-card post tag-getting-started ">

    <a class="post-card-image-link" href="../../organising-content/">
        <img class="post-card-image" srcset="https://static.ghost.org/v2.0.0/images/organising-your-content.jpg 300w,
                    https://static.ghost.org/v2.0.0/images/organising-your-content.jpg 600w,
                    https://static.ghost.org/v2.0.0/images/organising-your-content.jpg 1000w,
                    https://static.ghost.org/v2.0.0/images/organising-your-content.jpg 2000w" sizes="(max-width: 1000px) 400px, 700px" src="https://static.ghost.org/v2.0.0/images/organising-your-content.jpg" alt="Organising your content">
    </a>

    <div class="post-card-content">

        <a class="post-card-content-link" href="../../organising-content/">

            <header class="post-card-header">
                    <span class="post-card-tags">Getting Started</span>
                <h2 class="post-card-title">Organising your content</h2>
            </header>

            <section class="post-card-excerpt">
                <p>Ghost has a flexible organisational taxonomy called tags which can be used to configure your site structure using dynamic routing.</p>
            </section>

        </a>

        <footer class="post-card-meta">

            <ul class="author-list">
                <li class="author-list-item">

                    <div class="author-name-tooltip">
                        Ghost
                    </div>

                        <a href="index.html" class="static-avatar">
                            <img class="author-profile-image" src="https://static.ghost.org/v2.0.0/images/ghost.png" alt="Ghost">
                        </a>
                </li>
            </ul>

            <span class="reading-time">2 min read</span>

        </footer>

    </div>

</article>


                <article class="post-card post tag-getting-started ">

    <a class="post-card-image-link" href="../../apps-integrations/">
        <img class="post-card-image" srcset="https://static.ghost.org/v2.0.0/images/app-integrations.jpg 300w,
                    https://static.ghost.org/v2.0.0/images/app-integrations.jpg 600w,
                    https://static.ghost.org/v2.0.0/images/app-integrations.jpg 1000w,
                    https://static.ghost.org/v2.0.0/images/app-integrations.jpg 2000w" sizes="(max-width: 1000px) 400px, 700px" src="https://static.ghost.org/v2.0.0/images/app-integrations.jpg" alt="Apps &amp; integrations">
    </a>

    <div class="post-card-content">

        <a class="post-card-content-link" href="../../apps-integrations/">

            <header class="post-card-header">
                    <span class="post-card-tags">Getting Started</span>
                <h2 class="post-card-title">Apps &amp; integrations</h2>
            </header>

            <section class="post-card-excerpt">
                <p>There are three primary ways to work with third-party services in Ghost: using Zapier, editing your theme, or using the Ghost API.</p>
            </section>

        </a>

        <footer class="post-card-meta">

            <ul class="author-list">
                <li class="author-list-item">

                    <div class="author-name-tooltip">
                        Ghost
                    </div>

                        <a href="index.html" class="static-avatar">
                            <img class="author-profile-image" src="https://static.ghost.org/v2.0.0/images/ghost.png" alt="Ghost">
                        </a>
                </li>
            </ul>

            <span class="reading-time">1 min read</span>

        </footer>

    </div>

</article>


                <article class="post-card post tag-getting-started ">

    <a class="post-card-image-link" href="../../themes/">
        <img class="post-card-image" srcset="https://static.ghost.org/v2.0.0/images/creating-a-custom-theme.jpg 300w,
                    https://static.ghost.org/v2.0.0/images/creating-a-custom-theme.jpg 600w,
                    https://static.ghost.org/v2.0.0/images/creating-a-custom-theme.jpg 1000w,
                    https://static.ghost.org/v2.0.0/images/creating-a-custom-theme.jpg 2000w" sizes="(max-width: 1000px) 400px, 700px" src="https://static.ghost.org/v2.0.0/images/creating-a-custom-theme.jpg" alt="Creating a custom theme">
    </a>

    <div class="post-card-content">

        <a class="post-card-content-link" href="../../themes/">

            <header class="post-card-header">
                    <span class="post-card-tags">Getting Started</span>
                <h2 class="post-card-title">Creating a custom theme</h2>
            </header>

            <section class="post-card-excerpt">
                <p>Ghost comes with a beautiful default theme called Casper, which is designed to be a clean, readable publication layout and can be easily adapted for most purposes.</p>
            </section>

        </a>

        <footer class="post-card-meta">

            <ul class="author-list">
                <li class="author-list-item">

                    <div class="author-name-tooltip">
                        Ghost
                    </div>

                        <a href="index.html" class="static-avatar">
                            <img class="author-profile-image" src="https://static.ghost.org/v2.0.0/images/ghost.png" alt="Ghost">
                        </a>
                </li>
            </ul>

            <span class="reading-time">1 min read</span>

        </footer>

    </div>

</article>

        </div>

    </div>
</main>


        <footer class="site-footer outer">
            <div class="site-footer-content inner">
                <section class="copyright"><a href="../../">Walkthroughs</a> © 2018</section>
                <nav class="site-footer-nav">
                    <a href="../../">Latest Posts</a>
                    <a href="https://www.facebook.com/ghost" target="_blank" rel="noopener">Facebook</a>
                    <a href="https://twitter.com/tryghost" target="_blank" rel="noopener">Twitter</a>
                    <a href="https://ghost.org" target="_blank" rel="noopener">Ghost</a>
                </nav>
            </div>
        </footer>

    </div>


    <script>
        var images = document.querySelectorAll('.kg-gallery-image img');
        images.forEach(function (image) {
            var container = image.closest('.kg-gallery-image');
            var width = image.attributes.width.value;
            var height = image.attributes.height.value;
            var ratio = width / height;
            container.style.flex = ratio + ' 1 0%';
        })
    </script>


    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="../../assets/built/jquery.fitvids.js?v=b2fc23087f"></script>

    <script src="../../assets/built/infinitescroll.js?v=b2fc23087f"></script>

    

    

</body>
