
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Creating a custom theme</title>
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="../assets/built/screen.css?v=b2fc23087f">

    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
    <link rel="canonical" href="index.html">
    <meta name="referrer" content="no-referrer-when-downgrade">
    <link rel="amphtml" href="amp/index.html">
    
    <meta property="og:site_name" content="Walkthroughs">
    <meta property="og:type" content="article">
    <meta property="og:title" content="Creating a custom theme">
    <meta property="og:description" content="Ghost comes with a beautiful default theme called Casper, which is designed to be a clean, readable publication layout and can be easily adapted for most purposes.">
    <meta property="og:url" content="mah1ndra.gitlab.io//themes/">
    <meta property="og:image" content="https://static.ghost.org/v2.0.0/images/creating-a-custom-theme.jpg">
    <meta property="article:published_time" content="2018-12-19T05:17:25.000Z">
    <meta property="article:modified_time" content="2018-12-19T05:17:25.000Z">
    <meta property="article:tag" content="Getting Started">
    
    <meta property="article:publisher" content="https://www.facebook.com/ghost">
    <meta property="article:author" content="https://www.facebook.com/ghost">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Creating a custom theme">
    <meta name="twitter:description" content="Ghost comes with a beautiful default theme called Casper, which is designed to be a clean, readable publication layout and can be easily adapted for most purposes.">
    <meta name="twitter:url" content="mah1ndra.gitlab.io//themes/">
    <meta name="twitter:image" content="https://static.ghost.org/v2.0.0/images/creating-a-custom-theme.jpg">
    <meta name="twitter:label1" content="Written by">
    <meta name="twitter:data1" content="Ghost">
    <meta name="twitter:label2" content="Filed under">
    <meta name="twitter:data2" content="Getting Started">
    <meta name="twitter:site" content="tryghost">
    <meta name="twitter:creator" content="tryghost">
    <meta property="og:image:width" content="1600">
    <meta property="og:image:height" content="1067">
    
    <script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "Article",
    "publisher": {
        "@type": "Organization",
        "name": "Walkthroughs",
        "logo": "https://static.ghost.org/v1.0.0/images/ghost-logo.svg"
    },
    "author": {
        "@type": "Person",
        "name": "Ghost",
        "image": {
            "@type": "ImageObject",
            "url": "https://static.ghost.org/v2.0.0/images/ghost.png",
            "width": 400,
            "height": 400
        },
        "url": "mah1ndra.gitlab.io//author/ghost/",
        "sameAs": [
            "https://ghost.org",
            "https://www.facebook.com/ghost",
            "https://twitter.com/tryghost"
        ]
    },
    "headline": "Creating a custom theme",
    "url": "mah1ndra.gitlab.io//themes/",
    "datePublished": "2018-12-19T05:17:25.000Z",
    "dateModified": "2018-12-19T05:17:25.000Z",
    "image": {
        "@type": "ImageObject",
        "url": "https://static.ghost.org/v2.0.0/images/creating-a-custom-theme.jpg",
        "width": 1600,
        "height": 1067
    },
    "keywords": "Getting Started",
    "description": "Ghost comes with a beautiful default theme called Casper, which is designed to be a clean, readable publication layout and can be easily adapted for most purposes.",
    "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "mah1ndra.gitlab.io//"
    }
}
    </script>

    <script src="../public/ghost-sdk.js?v=b2fc23087f"></script>
<script>
ghost.init({
	clientId: "ghost-frontend",
	clientSecret: "2a9a033ef9a0"
});
</script>
    <meta name="generator" content="Ghost 2.9">
    <link rel="alternate" type="application/rss+xml" title="Walkthroughs" href="../rss/index.html">

</head>
<body class="post-template tag-getting-started">

    <div class="site-wrapper">

        

<header class="site-header outer">
    <div class="inner">
        <nav class="site-nav">
    <div class="site-nav-left">
                <a class="site-nav-logo" href="../"><img src="https://static.ghost.org/v1.0.0/images/ghost-logo.svg" alt="Walkthroughs"></a>
            <ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="../">Home</a></li>
    <li class="nav-tag" role="menuitem"><a href="../tag/getting-started/">Tag</a></li>
    <li class="nav-author" role="menuitem"><a href="../author/ghost/">Author</a></li>
    <li class="nav-help" role="menuitem"><a href="https://help.ghost.org">Help</a></li>
</ul>

    </div>
    <div class="site-nav-right">
        <div class="social-links">
                <a class="social-link social-link-fb" href="https://www.facebook.com/ghost" title="Facebook" target="_blank" rel="noopener"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 32 32"><path d="M19 6h5V0h-5c-3.86 0-7 3.14-7 7v3H8v6h4v16h6V16h5l1-6h-6V7c0-.542.458-1 1-1z"></path></svg>
</a>
                <a class="social-link social-link-tw" href="https://twitter.com/tryghost" title="Twitter" target="_blank" rel="noopener"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 32 32"><path d="M30.063 7.313c-.813 1.125-1.75 2.125-2.875 2.938v.75c0 1.563-.188 3.125-.688 4.625a15.088 15.088 0 0 1-2.063 4.438c-.875 1.438-2 2.688-3.25 3.813a15.015 15.015 0 0 1-4.625 2.563c-1.813.688-3.75 1-5.75 1-3.25 0-6.188-.875-8.875-2.625.438.063.875.125 1.375.125 2.688 0 5.063-.875 7.188-2.5-1.25 0-2.375-.375-3.375-1.125s-1.688-1.688-2.063-2.875c.438.063.813.125 1.125.125.5 0 1-.063 1.5-.25-1.313-.25-2.438-.938-3.313-1.938a5.673 5.673 0 0 1-1.313-3.688v-.063c.813.438 1.688.688 2.625.688a5.228 5.228 0 0 1-1.875-2c-.5-.875-.688-1.813-.688-2.75 0-1.063.25-2.063.75-2.938 1.438 1.75 3.188 3.188 5.25 4.25s4.313 1.688 6.688 1.813a5.579 5.579 0 0 1 1.5-5.438c1.125-1.125 2.5-1.688 4.125-1.688s3.063.625 4.188 1.813a11.48 11.48 0 0 0 3.688-1.375c-.438 1.375-1.313 2.438-2.563 3.188 1.125-.125 2.188-.438 3.313-.875z"></path></svg>
</a>
        </div>
            <a class="rss-button" href="https://feedly.com/i/subscription/feed/mah1ndra.gitlab.io//rss/" title="RSS" target="_blank" rel="noopener"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24"><circle cx="6.18" cy="17.82" r="2.18"></circle><path d="M4 4.44v2.83c7.03 0 12.73 5.7 12.73 12.73h2.83c0-8.59-6.97-15.56-15.56-15.56zm0 5.66v2.83c3.9 0 7.07 3.17 7.07 7.07h2.83c0-5.47-4.43-9.9-9.9-9.9z"></path></svg>
</a>
    </div>
</nav>
    </div>
</header>


<main id="site-main" class="site-main outer">
    <div class="inner">

        <article class="post-full post tag-getting-started ">

            <header class="post-full-header">
                <section class="post-full-meta">
                    <time class="post-full-meta-date" datetime="2018-12-19">19 December 2018</time>
                        <span class="date-divider">/</span> <a href="../tag/getting-started/">Getting Started</a>
                </section>
                <h1 class="post-full-title">Creating a custom theme</h1>
            </header>

            <figure class="post-full-image">
                <img srcset="https://static.ghost.org/v2.0.0/images/creating-a-custom-theme.jpg 300w,
                            https://static.ghost.org/v2.0.0/images/creating-a-custom-theme.jpg 600w,
                            https://static.ghost.org/v2.0.0/images/creating-a-custom-theme.jpg 1000w,
                            https://static.ghost.org/v2.0.0/images/creating-a-custom-theme.jpg 2000w" sizes="(max-width: 800px) 400px,
                            (max-width: 1170px) 700px,
                            1400px" src="https://static.ghost.org/v2.0.0/images/creating-a-custom-theme.jpg" alt="Creating a custom theme">
            </figure>

            <section class="post-full-content">
                <div class="post-content">
                    <p>Ghost comes with a beautiful default theme called Casper, which is designed to be a clean, readable publication layout and can be adapted for most purposes. However, Ghost can also be completely themed to suit your needs. Rather than just giving you a few basic settings which act as a poor proxy for code, we just let you write code.</p><p>There are a huge range of both free and premium pre-built themes which you can get from the <a href="http://marketplace.ghost.org">Ghost Theme Marketplace</a>, or you can create your own from scratch.</p><figure class="kg-card kg-image-card"><img src="https://static.ghost.org/v1.0.0/images/marketplace.jpg" class="kg-image"><figcaption>Anyone can write a completely custom Ghost theme with some solid knowledge of HTML and CSS</figcaption></figure><p>Ghost themes are written with a templating language called handlebars, which has a set of dynamic helpers to insert your data into template files. For example: <code>{{author.name}}</code> outputs the name of the current author.</p><p>The best way to learn how to write your own Ghost theme is to have a look at <a href="https://github.com/TryGhost/Casper">the source code for Casper</a>, which is heavily commented and should give you a sense of how everything fits together.</p><ul><li><code>default.hbs</code> is the main template file, all contexts will load inside this file unless specifically told to use a different template.</li><li><code>post.hbs</code> is the file used in the context of viewing a post.</li><li><code>index.hbs</code> is the file used in the context of viewing the home page.</li><li>and so on</li></ul><p>We've got <a href="https://themes.ghost.org/v2.0.0/docs">full and extensive theme documentation</a> which outlines every template file, context and helper that you can use.</p><p>If you want to chat with other people making Ghost themes to get any advice or help, there's also a <strong>themes</strong> section on our <a href="https://forum.ghost.org/c/themes">public Ghost forum</a>.</p>
                </div>
            </section>


            <footer class="post-full-footer">


                    
<section class="author-card">
        <img class="author-profile-image" src="https://static.ghost.org/v2.0.0/images/ghost.png" alt="Ghost">
    <section class="author-card-content">
        <h4 class="author-card-name"><a href="../author/ghost/">Ghost</a></h4>
            <p>You can delete this user to remove all the welcome posts</p>
    </section>
</section>
<div class="post-full-footer-right">
    <a class="author-card-button" href="../author/ghost/">Read More</a>
</div>


            </footer>


        </article>

    </div>
</main>

<aside class="read-next outer">
    <div class="inner">
        <div class="read-next-feed">
                <article class="read-next-card" style="background-image: url(https://static.ghost.org/v1.0.0/images/blog-cover.jpg)">
                    <header class="read-next-card-header">
                        <small class="read-next-card-header-sitetitle">— Walkthroughs —</small>
                        <h3 class="read-next-card-header-title"><a href="../tag/getting-started/">Getting Started</a></h3>
                    </header>
                    <div class="read-next-divider"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24"><path d="M13 14.5s2 3 5 3 5.5-2.463 5.5-5.5S21 6.5 18 6.5c-5 0-7 11-12 11C2.962 17.5.5 15.037.5 12S3 6.5 6 6.5s4.5 3.5 4.5 3.5"></path></svg>
</div>
                    <div class="read-next-card-content">
                        <ul>
                            <li><a href="../welcome/">Welcome to Ghost</a></li>
                            <li><a href="../the-editor/">Writing posts with Ghost ✍️</a></li>
                            <li><a href="../publishing-options/">Publishing options</a></li>
                        </ul>
                    </div>
                    <footer class="read-next-card-footer">
                        <a href="../tag/getting-started/">See all 6 posts →</a>
                    </footer>
                </article>

                <article class="post-card post tag-getting-started ">

    <a class="post-card-image-link" href="../apps-integrations/">
        <img class="post-card-image" srcset="https://static.ghost.org/v2.0.0/images/app-integrations.jpg 300w,
                    https://static.ghost.org/v2.0.0/images/app-integrations.jpg 600w,
                    https://static.ghost.org/v2.0.0/images/app-integrations.jpg 1000w,
                    https://static.ghost.org/v2.0.0/images/app-integrations.jpg 2000w" sizes="(max-width: 1000px) 400px, 700px" src="https://static.ghost.org/v2.0.0/images/app-integrations.jpg" alt="Apps &amp; integrations">
    </a>

    <div class="post-card-content">

        <a class="post-card-content-link" href="../apps-integrations/">

            <header class="post-card-header">
                    <span class="post-card-tags">Getting Started</span>
                <h2 class="post-card-title">Apps &amp; integrations</h2>
            </header>

            <section class="post-card-excerpt">
                <p>There are three primary ways to work with third-party services in Ghost: using Zapier, editing your theme, or using the Ghost API.</p>
            </section>

        </a>

        <footer class="post-card-meta">

            <ul class="author-list">
                <li class="author-list-item">

                    <div class="author-name-tooltip">
                        Ghost
                    </div>

                        <a href="../author/ghost/" class="static-avatar">
                            <img class="author-profile-image" src="https://static.ghost.org/v2.0.0/images/ghost.png" alt="Ghost">
                        </a>
                </li>
            </ul>

            <span class="reading-time">1 min read</span>

        </footer>

    </div>

</article>


        </div>
    </div>
</aside>

<div class="floating-header">
    <div class="floating-header-logo">
        <a href="../">
            <span>Walkthroughs</span>
        </a>
    </div>
    <span class="floating-header-divider">—</span>
    <div class="floating-header-title">Creating a custom theme</div>
    <div class="floating-header-share">
        <div class="floating-header-share-label">Share this <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24">
    <path d="M7.5 15.5V4a1.5 1.5 0 1 1 3 0v4.5h2a1 1 0 0 1 1 1h2a1 1 0 0 1 1 1H18a1.5 1.5 0 0 1 1.5 1.5v3.099c0 .929-.13 1.854-.385 2.748L17.5 23.5h-9c-1.5-2-5.417-8.673-5.417-8.673a1.2 1.2 0 0 1 1.76-1.605L7.5 15.5zm6-6v2m-3-3.5v3.5m6-1v2"></path>
</svg>
</div>
        <a class="floating-header-share-tw" href="https://twitter.com/share?text=Creating%20a%20custom%20theme&amp;url=mah1ndra.gitlab.io//themes/" onclick="window.open(this.href, 'share-twitter', 'width=550,height=235');return false;">
            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 32 32"><path d="M30.063 7.313c-.813 1.125-1.75 2.125-2.875 2.938v.75c0 1.563-.188 3.125-.688 4.625a15.088 15.088 0 0 1-2.063 4.438c-.875 1.438-2 2.688-3.25 3.813a15.015 15.015 0 0 1-4.625 2.563c-1.813.688-3.75 1-5.75 1-3.25 0-6.188-.875-8.875-2.625.438.063.875.125 1.375.125 2.688 0 5.063-.875 7.188-2.5-1.25 0-2.375-.375-3.375-1.125s-1.688-1.688-2.063-2.875c.438.063.813.125 1.125.125.5 0 1-.063 1.5-.25-1.313-.25-2.438-.938-3.313-1.938a5.673 5.673 0 0 1-1.313-3.688v-.063c.813.438 1.688.688 2.625.688a5.228 5.228 0 0 1-1.875-2c-.5-.875-.688-1.813-.688-2.75 0-1.063.25-2.063.75-2.938 1.438 1.75 3.188 3.188 5.25 4.25s4.313 1.688 6.688 1.813a5.579 5.579 0 0 1 1.5-5.438c1.125-1.125 2.5-1.688 4.125-1.688s3.063.625 4.188 1.813a11.48 11.48 0 0 0 3.688-1.375c-.438 1.375-1.313 2.438-2.563 3.188 1.125-.125 2.188-.438 3.313-.875z"></path></svg>
        </a>
        <a class="floating-header-share-fb" href="https://www.facebook.com/sharer/sharer.php?u=mah1ndra.gitlab.io//themes/" onclick="window.open(this.href, 'share-facebook','width=580,height=296');return false;">
            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 32 32"><path d="M19 6h5V0h-5c-3.86 0-7 3.14-7 7v3H8v6h4v16h6V16h5l1-6h-6V7c0-.542.458-1 1-1z"></path></svg>
        </a>
    </div>
    <progress id="reading-progress" class="progress" value="0">
        <div class="progress-container">
            <span class="progress-bar"></span>
        </div>
    </progress>
</div>




        <footer class="site-footer outer">
            <div class="site-footer-content inner">
                <section class="copyright"><a href="../">Walkthroughs</a> © 2018</section>
                <nav class="site-footer-nav">
                    <a href="../">Latest Posts</a>
                    <a href="https://www.facebook.com/ghost" target="_blank" rel="noopener">Facebook</a>
                    <a href="https://twitter.com/tryghost" target="_blank" rel="noopener">Twitter</a>
                    <a href="https://ghost.org" target="_blank" rel="noopener">Ghost</a>
                </nav>
            </div>
        </footer>

    </div>


    <script>
        var images = document.querySelectorAll('.kg-gallery-image img');
        images.forEach(function (image) {
            var container = image.closest('.kg-gallery-image');
            var width = image.attributes.width.value;
            var height = image.attributes.height.value;
            var ratio = width / height;
            container.style.flex = ratio + ' 1 0%';
        })
    </script>


    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="../assets/built/jquery.fitvids.js?v=b2fc23087f"></script>


    <script>

// NOTE: Scroll performance is poor in Safari
// - this appears to be due to the events firing much more slowly in Safari.
//   Dropping the scroll event and using only a raf loop results in smoother
//   scrolling but continuous processing even when not scrolling
$(document).ready(function () {
    // Start fitVids
    var $postContent = $(".post-full-content");
    $postContent.fitVids();
    // End fitVids

    var progressBar = document.querySelector('#reading-progress');
    var header = document.querySelector('.floating-header');
    var title = document.querySelector('.post-full-title');

    var lastScrollY = window.scrollY;
    var lastWindowHeight = window.innerHeight;
    var lastDocumentHeight = $(document).height();
    var ticking = false;

    function onScroll() {
        lastScrollY = window.scrollY;
        requestTick();
    }

    function onResize() {
        lastWindowHeight = window.innerHeight;
        lastDocumentHeight = $(document).height();
        requestTick();
    }

    function requestTick() {
        if (!ticking) {
            requestAnimationFrame(update);
        }
        ticking = true;
    }

    function update() {
        var trigger = title.getBoundingClientRect().top + window.scrollY;
        var triggerOffset = title.offsetHeight + 35;
        var progressMax = lastDocumentHeight - lastWindowHeight;

        // show/hide floating header
        if (lastScrollY >= trigger + triggerOffset) {
            header.classList.add('floating-active');
        } else {
            header.classList.remove('floating-active');
        }

        progressBar.setAttribute('max', progressMax);
        progressBar.setAttribute('value', lastScrollY);

        ticking = false;
    }

    window.addEventListener('scroll', onScroll, {passive: true});
    window.addEventListener('resize', onResize, false);

    update();

});
</script>


    

</body>
