
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Apps &amp; integrations</title>
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="../assets/built/screen.css?v=b2fc23087f">

    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
    <link rel="canonical" href="index.html">
    <meta name="referrer" content="no-referrer-when-downgrade">
    <link rel="amphtml" href="amp/index.html">
    
    <meta property="og:site_name" content="Walkthroughs">
    <meta property="og:type" content="article">
    <meta property="og:title" content="Apps &amp; integrations">
    <meta property="og:description" content="There are three primary ways to work with third-party services in Ghost: using Zapier, editing your theme, or using the Ghost API.">
    <meta property="og:url" content="mah1ndra.gitlab.io//apps-integrations/">
    <meta property="og:image" content="https://static.ghost.org/v2.0.0/images/app-integrations.jpg">
    <meta property="article:published_time" content="2018-12-19T05:17:26.000Z">
    <meta property="article:modified_time" content="2018-12-19T05:17:25.000Z">
    <meta property="article:tag" content="Getting Started">
    
    <meta property="article:publisher" content="https://www.facebook.com/ghost">
    <meta property="article:author" content="https://www.facebook.com/ghost">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Apps &amp; integrations">
    <meta name="twitter:description" content="There are three primary ways to work with third-party services in Ghost: using Zapier, editing your theme, or using the Ghost API.">
    <meta name="twitter:url" content="mah1ndra.gitlab.io//apps-integrations/">
    <meta name="twitter:image" content="https://static.ghost.org/v2.0.0/images/app-integrations.jpg">
    <meta name="twitter:label1" content="Written by">
    <meta name="twitter:data1" content="Ghost">
    <meta name="twitter:label2" content="Filed under">
    <meta name="twitter:data2" content="Getting Started">
    <meta name="twitter:site" content="tryghost">
    <meta name="twitter:creator" content="tryghost">
    <meta property="og:image:width" content="1600">
    <meta property="og:image:height" content="1199">
    
    <script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "Article",
    "publisher": {
        "@type": "Organization",
        "name": "Walkthroughs",
        "logo": "https://static.ghost.org/v1.0.0/images/ghost-logo.svg"
    },
    "author": {
        "@type": "Person",
        "name": "Ghost",
        "image": {
            "@type": "ImageObject",
            "url": "https://static.ghost.org/v2.0.0/images/ghost.png",
            "width": 400,
            "height": 400
        },
        "url": "mah1ndra.gitlab.io//author/ghost/",
        "sameAs": [
            "https://ghost.org",
            "https://www.facebook.com/ghost",
            "https://twitter.com/tryghost"
        ]
    },
    "headline": "Apps &amp; integrations",
    "url": "mah1ndra.gitlab.io//apps-integrations/",
    "datePublished": "2018-12-19T05:17:26.000Z",
    "dateModified": "2018-12-19T05:17:25.000Z",
    "image": {
        "@type": "ImageObject",
        "url": "https://static.ghost.org/v2.0.0/images/app-integrations.jpg",
        "width": 1600,
        "height": 1199
    },
    "keywords": "Getting Started",
    "description": "There are three primary ways to work with third-party services in Ghost: using Zapier, editing your theme, or using the Ghost API.",
    "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "mah1ndra.gitlab.io//"
    }
}
    </script>

    <script src="../public/ghost-sdk.js?v=b2fc23087f"></script>
<script>
ghost.init({
	clientId: "ghost-frontend",
	clientSecret: "2a9a033ef9a0"
});
</script>
    <meta name="generator" content="Ghost 2.9">
    <link rel="alternate" type="application/rss+xml" title="Walkthroughs" href="../rss/index.html">

</head>
<body class="post-template tag-getting-started">

    <div class="site-wrapper">

        

<header class="site-header outer">
    <div class="inner">
        <nav class="site-nav">
    <div class="site-nav-left">
                <a class="site-nav-logo" href="../"><img src="https://static.ghost.org/v1.0.0/images/ghost-logo.svg" alt="Walkthroughs"></a>
            <ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="../">Home</a></li>
    <li class="nav-tag" role="menuitem"><a href="../tag/getting-started/">Tag</a></li>
    <li class="nav-author" role="menuitem"><a href="../author/ghost/">Author</a></li>
    <li class="nav-help" role="menuitem"><a href="https://help.ghost.org">Help</a></li>
</ul>

    </div>
    <div class="site-nav-right">
        <div class="social-links">
                <a class="social-link social-link-fb" href="https://www.facebook.com/ghost" title="Facebook" target="_blank" rel="noopener"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 32 32"><path d="M19 6h5V0h-5c-3.86 0-7 3.14-7 7v3H8v6h4v16h6V16h5l1-6h-6V7c0-.542.458-1 1-1z"></path></svg>
</a>
                <a class="social-link social-link-tw" href="https://twitter.com/tryghost" title="Twitter" target="_blank" rel="noopener"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 32 32"><path d="M30.063 7.313c-.813 1.125-1.75 2.125-2.875 2.938v.75c0 1.563-.188 3.125-.688 4.625a15.088 15.088 0 0 1-2.063 4.438c-.875 1.438-2 2.688-3.25 3.813a15.015 15.015 0 0 1-4.625 2.563c-1.813.688-3.75 1-5.75 1-3.25 0-6.188-.875-8.875-2.625.438.063.875.125 1.375.125 2.688 0 5.063-.875 7.188-2.5-1.25 0-2.375-.375-3.375-1.125s-1.688-1.688-2.063-2.875c.438.063.813.125 1.125.125.5 0 1-.063 1.5-.25-1.313-.25-2.438-.938-3.313-1.938a5.673 5.673 0 0 1-1.313-3.688v-.063c.813.438 1.688.688 2.625.688a5.228 5.228 0 0 1-1.875-2c-.5-.875-.688-1.813-.688-2.75 0-1.063.25-2.063.75-2.938 1.438 1.75 3.188 3.188 5.25 4.25s4.313 1.688 6.688 1.813a5.579 5.579 0 0 1 1.5-5.438c1.125-1.125 2.5-1.688 4.125-1.688s3.063.625 4.188 1.813a11.48 11.48 0 0 0 3.688-1.375c-.438 1.375-1.313 2.438-2.563 3.188 1.125-.125 2.188-.438 3.313-.875z"></path></svg>
</a>
        </div>
            <a class="rss-button" href="https://feedly.com/i/subscription/feed/mah1ndra.gitlab.io//rss/" title="RSS" target="_blank" rel="noopener"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24"><circle cx="6.18" cy="17.82" r="2.18"></circle><path d="M4 4.44v2.83c7.03 0 12.73 5.7 12.73 12.73h2.83c0-8.59-6.97-15.56-15.56-15.56zm0 5.66v2.83c3.9 0 7.07 3.17 7.07 7.07h2.83c0-5.47-4.43-9.9-9.9-9.9z"></path></svg>
</a>
    </div>
</nav>
    </div>
</header>


<main id="site-main" class="site-main outer">
    <div class="inner">

        <article class="post-full post tag-getting-started ">

            <header class="post-full-header">
                <section class="post-full-meta">
                    <time class="post-full-meta-date" datetime="2018-12-19">19 December 2018</time>
                        <span class="date-divider">/</span> <a href="../tag/getting-started/">Getting Started</a>
                </section>
                <h1 class="post-full-title">Apps &amp; integrations</h1>
            </header>

            <figure class="post-full-image">
                <img srcset="https://static.ghost.org/v2.0.0/images/app-integrations.jpg 300w,
                            https://static.ghost.org/v2.0.0/images/app-integrations.jpg 600w,
                            https://static.ghost.org/v2.0.0/images/app-integrations.jpg 1000w,
                            https://static.ghost.org/v2.0.0/images/app-integrations.jpg 2000w" sizes="(max-width: 800px) 400px,
                            (max-width: 1170px) 700px,
                            1400px" src="https://static.ghost.org/v2.0.0/images/app-integrations.jpg" alt="Apps &amp; integrations">
            </figure>

            <section class="post-full-content">
                <div class="post-content">
                    <p>There are three primary ways to work with third-party services in Ghost: using Zapier, editing your theme, or using the Ghost API.</p><h1 id="zapier">Zapier</h1><p>You can connect your Ghost site to over 1,000 external services using the official integration with <a href="https://zapier.com">Zapier</a>.</p><p>Zapier sets up automations with Triggers and Actions, which allows you to create and customise a wide range of connected applications.</p><blockquote><strong>Example</strong>: When someone new subscribes to a newsletter on a Ghost site (Trigger) then the contact information is automatically pushed into MailChimp (Action).</blockquote><p><strong>Here are the most popular Ghost&lt;&gt;Zapier automation templates:</strong> </p><script src="https://zapier.com/apps/embed/widget.js?services=Ghost&amp;container=true&amp;limit=8"></script>
<h1 id="editing-your-theme">Editing your theme</h1><p>One of the biggest advantages of using Ghost over centralised platforms is that you have total control over the front end of your site. Either customise your existing theme, or create a new theme from scratch with our <a href="https://themes.ghost.org">Theme SDK</a>. </p><p>You can integrate <em>any</em> front end code into a Ghost theme without restriction, and it will work just fine. No restrictions!</p><p><strong>Here are some common examples</strong>:</p><ul><li>Include comments on a Ghost blog with <a href="https://help.ghost.org/article/15-disqus">Disqus</a> or <a href="https://help.ghost.org/article/35-discourse">Discourse</a></li><li>Implement <a href="https://help.ghost.org/article/89-mathjax">MathJAX</a> with a little bit of JavaScript</li><li>Add syntax highlighting to your code snippets using <a href="https://prismjs.com/">Prism.js</a></li><li>Integrate any dynamic forms from <a href="https://www.google.com/forms/">Google</a> or <a href="https://www.typeform.com/">Typeform</a> to capture data</li><li>Just about anything which uses JavaScript, APIs and Markup.</li></ul><h1 id="using-the-public-api">Using the Public API</h1><p>Ghost itself is driven by a set of core APIs, and so you can access the Public Ghost JSON API from external webpages or applications in order to pull data and display it in other places.</p><blockquote>The Ghost API is <a href="https://api.ghost.org">thoroughly documented</a> and straightforward to work with for developers of almost any level. </blockquote><p>Alright, the last post in our welcome-series! If you're curious about creating your own Ghost theme from scratch, here are <a href="../themes/">some more details</a> on how that works.</p>
                </div>
            </section>


            <footer class="post-full-footer">


                    
<section class="author-card">
        <img class="author-profile-image" src="https://static.ghost.org/v2.0.0/images/ghost.png" alt="Ghost">
    <section class="author-card-content">
        <h4 class="author-card-name"><a href="../author/ghost/">Ghost</a></h4>
            <p>You can delete this user to remove all the welcome posts</p>
    </section>
</section>
<div class="post-full-footer-right">
    <a class="author-card-button" href="../author/ghost/">Read More</a>
</div>


            </footer>


        </article>

    </div>
</main>

<aside class="read-next outer">
    <div class="inner">
        <div class="read-next-feed">
                <article class="read-next-card" style="background-image: url(https://static.ghost.org/v1.0.0/images/blog-cover.jpg)">
                    <header class="read-next-card-header">
                        <small class="read-next-card-header-sitetitle">— Walkthroughs —</small>
                        <h3 class="read-next-card-header-title"><a href="../tag/getting-started/">Getting Started</a></h3>
                    </header>
                    <div class="read-next-divider"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24"><path d="M13 14.5s2 3 5 3 5.5-2.463 5.5-5.5S21 6.5 18 6.5c-5 0-7 11-12 11C2.962 17.5.5 15.037.5 12S3 6.5 6 6.5s4.5 3.5 4.5 3.5"></path></svg>
</div>
                    <div class="read-next-card-content">
                        <ul>
                            <li><a href="../welcome/">Welcome to Ghost</a></li>
                            <li><a href="../the-editor/">Writing posts with Ghost ✍️</a></li>
                            <li><a href="../publishing-options/">Publishing options</a></li>
                        </ul>
                    </div>
                    <footer class="read-next-card-footer">
                        <a href="../tag/getting-started/">See all 6 posts →</a>
                    </footer>
                </article>

                <article class="post-card post tag-getting-started ">

    <a class="post-card-image-link" href="../organising-content/">
        <img class="post-card-image" srcset="https://static.ghost.org/v2.0.0/images/organising-your-content.jpg 300w,
                    https://static.ghost.org/v2.0.0/images/organising-your-content.jpg 600w,
                    https://static.ghost.org/v2.0.0/images/organising-your-content.jpg 1000w,
                    https://static.ghost.org/v2.0.0/images/organising-your-content.jpg 2000w" sizes="(max-width: 1000px) 400px, 700px" src="https://static.ghost.org/v2.0.0/images/organising-your-content.jpg" alt="Organising your content">
    </a>

    <div class="post-card-content">

        <a class="post-card-content-link" href="../organising-content/">

            <header class="post-card-header">
                    <span class="post-card-tags">Getting Started</span>
                <h2 class="post-card-title">Organising your content</h2>
            </header>

            <section class="post-card-excerpt">
                <p>Ghost has a flexible organisational taxonomy called tags which can be used to configure your site structure using dynamic routing.</p>
            </section>

        </a>

        <footer class="post-card-meta">

            <ul class="author-list">
                <li class="author-list-item">

                    <div class="author-name-tooltip">
                        Ghost
                    </div>

                        <a href="../author/ghost/" class="static-avatar">
                            <img class="author-profile-image" src="https://static.ghost.org/v2.0.0/images/ghost.png" alt="Ghost">
                        </a>
                </li>
            </ul>

            <span class="reading-time">2 min read</span>

        </footer>

    </div>

</article>

                <article class="post-card post tag-getting-started ">

    <a class="post-card-image-link" href="../themes/">
        <img class="post-card-image" srcset="https://static.ghost.org/v2.0.0/images/creating-a-custom-theme.jpg 300w,
                    https://static.ghost.org/v2.0.0/images/creating-a-custom-theme.jpg 600w,
                    https://static.ghost.org/v2.0.0/images/creating-a-custom-theme.jpg 1000w,
                    https://static.ghost.org/v2.0.0/images/creating-a-custom-theme.jpg 2000w" sizes="(max-width: 1000px) 400px, 700px" src="https://static.ghost.org/v2.0.0/images/creating-a-custom-theme.jpg" alt="Creating a custom theme">
    </a>

    <div class="post-card-content">

        <a class="post-card-content-link" href="../themes/">

            <header class="post-card-header">
                    <span class="post-card-tags">Getting Started</span>
                <h2 class="post-card-title">Creating a custom theme</h2>
            </header>

            <section class="post-card-excerpt">
                <p>Ghost comes with a beautiful default theme called Casper, which is designed to be a clean, readable publication layout and can be easily adapted for most purposes.</p>
            </section>

        </a>

        <footer class="post-card-meta">

            <ul class="author-list">
                <li class="author-list-item">

                    <div class="author-name-tooltip">
                        Ghost
                    </div>

                        <a href="../author/ghost/" class="static-avatar">
                            <img class="author-profile-image" src="https://static.ghost.org/v2.0.0/images/ghost.png" alt="Ghost">
                        </a>
                </li>
            </ul>

            <span class="reading-time">1 min read</span>

        </footer>

    </div>

</article>

        </div>
    </div>
</aside>

<div class="floating-header">
    <div class="floating-header-logo">
        <a href="../">
            <span>Walkthroughs</span>
        </a>
    </div>
    <span class="floating-header-divider">—</span>
    <div class="floating-header-title">Apps &amp; integrations</div>
    <div class="floating-header-share">
        <div class="floating-header-share-label">Share this <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24">
    <path d="M7.5 15.5V4a1.5 1.5 0 1 1 3 0v4.5h2a1 1 0 0 1 1 1h2a1 1 0 0 1 1 1H18a1.5 1.5 0 0 1 1.5 1.5v3.099c0 .929-.13 1.854-.385 2.748L17.5 23.5h-9c-1.5-2-5.417-8.673-5.417-8.673a1.2 1.2 0 0 1 1.76-1.605L7.5 15.5zm6-6v2m-3-3.5v3.5m6-1v2"></path>
</svg>
</div>
        <a class="floating-header-share-tw" href="https://twitter.com/share?text=Apps%20%26%20integrations&amp;url=mah1ndra.gitlab.io//apps-integrations/" onclick="window.open(this.href, 'share-twitter', 'width=550,height=235');return false;">
            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 32 32"><path d="M30.063 7.313c-.813 1.125-1.75 2.125-2.875 2.938v.75c0 1.563-.188 3.125-.688 4.625a15.088 15.088 0 0 1-2.063 4.438c-.875 1.438-2 2.688-3.25 3.813a15.015 15.015 0 0 1-4.625 2.563c-1.813.688-3.75 1-5.75 1-3.25 0-6.188-.875-8.875-2.625.438.063.875.125 1.375.125 2.688 0 5.063-.875 7.188-2.5-1.25 0-2.375-.375-3.375-1.125s-1.688-1.688-2.063-2.875c.438.063.813.125 1.125.125.5 0 1-.063 1.5-.25-1.313-.25-2.438-.938-3.313-1.938a5.673 5.673 0 0 1-1.313-3.688v-.063c.813.438 1.688.688 2.625.688a5.228 5.228 0 0 1-1.875-2c-.5-.875-.688-1.813-.688-2.75 0-1.063.25-2.063.75-2.938 1.438 1.75 3.188 3.188 5.25 4.25s4.313 1.688 6.688 1.813a5.579 5.579 0 0 1 1.5-5.438c1.125-1.125 2.5-1.688 4.125-1.688s3.063.625 4.188 1.813a11.48 11.48 0 0 0 3.688-1.375c-.438 1.375-1.313 2.438-2.563 3.188 1.125-.125 2.188-.438 3.313-.875z"></path></svg>
        </a>
        <a class="floating-header-share-fb" href="https://www.facebook.com/sharer/sharer.php?u=mah1ndra.gitlab.io//apps-integrations/" onclick="window.open(this.href, 'share-facebook','width=580,height=296');return false;">
            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 32 32"><path d="M19 6h5V0h-5c-3.86 0-7 3.14-7 7v3H8v6h4v16h6V16h5l1-6h-6V7c0-.542.458-1 1-1z"></path></svg>
        </a>
    </div>
    <progress id="reading-progress" class="progress" value="0">
        <div class="progress-container">
            <span class="progress-bar"></span>
        </div>
    </progress>
</div>




        <footer class="site-footer outer">
            <div class="site-footer-content inner">
                <section class="copyright"><a href="../">Walkthroughs</a> © 2018</section>
                <nav class="site-footer-nav">
                    <a href="../">Latest Posts</a>
                    <a href="https://www.facebook.com/ghost" target="_blank" rel="noopener">Facebook</a>
                    <a href="https://twitter.com/tryghost" target="_blank" rel="noopener">Twitter</a>
                    <a href="https://ghost.org" target="_blank" rel="noopener">Ghost</a>
                </nav>
            </div>
        </footer>

    </div>


    <script>
        var images = document.querySelectorAll('.kg-gallery-image img');
        images.forEach(function (image) {
            var container = image.closest('.kg-gallery-image');
            var width = image.attributes.width.value;
            var height = image.attributes.height.value;
            var ratio = width / height;
            container.style.flex = ratio + ' 1 0%';
        })
    </script>


    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="../assets/built/jquery.fitvids.js?v=b2fc23087f"></script>


    <script>

// NOTE: Scroll performance is poor in Safari
// - this appears to be due to the events firing much more slowly in Safari.
//   Dropping the scroll event and using only a raf loop results in smoother
//   scrolling but continuous processing even when not scrolling
$(document).ready(function () {
    // Start fitVids
    var $postContent = $(".post-full-content");
    $postContent.fitVids();
    // End fitVids

    var progressBar = document.querySelector('#reading-progress');
    var header = document.querySelector('.floating-header');
    var title = document.querySelector('.post-full-title');

    var lastScrollY = window.scrollY;
    var lastWindowHeight = window.innerHeight;
    var lastDocumentHeight = $(document).height();
    var ticking = false;

    function onScroll() {
        lastScrollY = window.scrollY;
        requestTick();
    }

    function onResize() {
        lastWindowHeight = window.innerHeight;
        lastDocumentHeight = $(document).height();
        requestTick();
    }

    function requestTick() {
        if (!ticking) {
            requestAnimationFrame(update);
        }
        ticking = true;
    }

    function update() {
        var trigger = title.getBoundingClientRect().top + window.scrollY;
        var triggerOffset = title.offsetHeight + 35;
        var progressMax = lastDocumentHeight - lastWindowHeight;

        // show/hide floating header
        if (lastScrollY >= trigger + triggerOffset) {
            header.classList.add('floating-active');
        } else {
            header.classList.remove('floating-active');
        }

        progressBar.setAttribute('max', progressMax);
        progressBar.setAttribute('value', lastScrollY);

        ticking = false;
    }

    window.addEventListener('scroll', onScroll, {passive: true});
    window.addEventListener('resize', onResize, false);

    update();

});
</script>


    

</body>
